@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'app';

html * {
	font-family: 'Roboto', sans-serif;
	font-size: 1.05em;
	line-height: 150%;
}

html {
	background-image: url('./../media/crossword.png');
	background-repeat: repeat;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

.center-align {
	text-align: center;
}

.annotation {
	color: blue;
	cursor: pointer;
}